// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


div#defaultContainer{
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
}

span#header{
	font-size: 18px;
}
input#Loginform-control{
	width: 20%;
}


